@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=League+Spartan:wght@100;200;300;400;500;600&family=Manrope:wght@200;300;400;500;600;700;800&family=Mulish:wght@200&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,300;1,300&display=swap');


:root{
   --White: hsl(0, 0%, 100%);
   --Light-gray: hsl(212, 45%, 89%);
   --Grayish-blue: hsl(220, 15%, 55%);
   --Dark-blue: hsl(218, 44%, 22%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body{
    color: var(--Grayish-blue);
    background-color: var(--Light-gray);
    font-size: 15px;
}

.main{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 480px;
    background-color: white;
    text-align: center;
    border-radius: 10px;
    gap: 25px;
    overflow: hidden;
}
.card-image img{
    width: 280px;
    border-radius: 10px;
}
.card-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 14px;
}

h2{
    font-family: 'outfit', sans-serif;
    font-weight: 700;
    color: var(--Dark-blue);
}
p{
    font-family: 'outfit', sans-serif;
    font-weight: 400;
}